* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    padding-top: 82px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1340px;
}
/* ////           NAVIGATION                //// */
nav {
    background-color: rgb(52, 45, 45);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    height: 82px;
    background-color: rgba(56, 47, 47, 0.735);
}

.logo {
    color: rgb(255, 45, 45);
    margin: 0;
    font-size: 30px;
    text-decoration: none;
}

.nav__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
    align-self: center;
    margin-bottom: 0;
}

.nav__link {
    margin: 0 10px;
    color: wheat;
}

.lang__bar {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

footer {
    background-color: rgb(52, 45, 45);
    padding: 30px 0;
}

/* .footer__logo {
    color: rgba(255, 0, 0, 0.712);
} */

.footer__box {
    display: flex;
    justify-content: space-around;
}
.footer__line{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.footer__list {
    list-style: none;
    color: wheat;
    list-style-type: none;
}

.footer__link {
    color: red;
    text-decoration: none;
    font: 13px;
}
.footer__link:hover{
    color: white;
    text-decoration:solid;
}

.footer__title{
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
}

.box {
    display: flex;
    width: 390px;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
}

.cards {
    padding: 10px;
    padding-top: 26px;
    border: 2px solid rgb(52, 45, 45);
    border-radius: 10px;
    width: 130px;
    font-size: 11px;
}

.cards i {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

.cards h5 {
    text-align: center;
}

.search__box {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.search {
    height: 27px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 5px;
    width: 40%;
}

.search__button {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 37px;
}

.category {
    transition: 0.5s;
    padding: 4px;
}

.category__section {
    margin: 50px 0;
}

.category__section li {
    list-style: none;
    transition: 0.6s;
}

.category__title {
    margin-bottom: 15px;
}

.category__active {
    color: rgb(234, 37, 37);
}

.category:hover,
.category:focus {
    cursor: pointer;
    color: rgb(234, 37, 37);
    transform: scalex(1.1);
    /* list-style-image: ".
    ./images/TriangleArrow-Right.svg";  */
}

.select__model, .select__category{
    padding: 7px;
    border-radius: 5px;
}

.focused {
    color: rgb(234, 37, 37);
}


.category__container {
    background-color: rgb(237, 237, 237);

}

.category__box {
    display: flex;
    flex-direction: column;
}

.category__container {
    display: flex;
    justify-content: space-between;
}

.category__section button {
    border: none;
}

.products__box {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

.product__card {
    border: 1px solid rgb(132, 130, 118);
    width: 190px;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
}

.products__section {
    margin: 60px 0;
}

.product__card-head{
    display: flex;
    justify-content: center;
    height: 120px;
    border-bottom: 1px solid  rgb(132, 130, 118);
}
.product__card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.product__card-name{
    margin-bottom: 10px;
}
.product__card img {
   width: 100%;
   height: 120px;
   object-fit: scale-down;
}

select{
    cursor: pointer;
}
.product__card p {
    font-size: 13px;
    margin-bottom: 2px;
}

.product__card h6 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
    margin-bottom: 5px;
    text-align: center;
}

.left {
    margin-left: 10px;

}

.right {
    margin-right: 10px;
    color: rgb(92, 48, 212);
}

#searchResults {
    background-color: #FFF;
    position: absolute;
    top: 34px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.resultsDiv {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.resultsDiv:hover{
    color: red;
    font-weight: 550;
}
.fixed__bar{
    width: 70px;
    position:fixed;
    right: 0px;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(228, 227, 227, 0.735);
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}