<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/CSS/contacts.css" />
    <script
      src="https://kit.fontawesome.com/72d9b542aa.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav>
        <div class="container">
          <div class="nav__box">
            <h1 class="logo">GARANT</h1>
            <ul class="nav__list">
              <li><a href="../index.html" class="nav__link">Каталог</a></li>
              <li><a href="" class="nav__link">Сервис</a></li>
              <li><a href="" class="nav__link">PARTS</a></li>
              <li><a href="" class="nav__link">О нас</a></li>
              <li><a href="#!" class="nav__link">Контакты</a></li>
            </ul>
            <button class="lang__bar">UZ</button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <h4 class="locator__title">Наши филиали</h4>
        <div class="row">
          <div class="btn-group">
            <button type="button" class="locator__button">
              <a href="#toshkent">Ташкент</a>
            </button>
            <button type="button" class="locator__button">
              <a href="#samarqand">Самарканд</a>
            </button>
            <button type="button" class="locator__button">
              <a href="#jizzax">Джиззах</a>
            </button>
            <button type="button" class="locator__button">
              <a href="#qoqon">Коканд</a>
            </button>
          </div>
        </div>
        <div class="address__card" id="toshkent">
          <div class="address__info">
            <h3 class="branch__name">Филиал Ташкент</h3>
            <h6>
              Адрес: Bunyodkor Avenue 57, Tashkent, Toshkent Shahri, Uzbekistan
            </h6>
            <p>Ориентир: Ресторан Ок Тулпор</p>
            <p>
              Тел: <span class="bold">+998 33 147 0770 </span
              ><br /><br />Рабочие дни:
              <span class="bold">Понедельник - Суббота</span> <br />
              Время работы: <span class="bold">09:00 - 18:00</span>
            </p>
          </div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5192.931475394764!2d69.17730069070296!3d41.247201557535746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae631ed3125f53%3A0x127e1bd1bc0c2bce!2sGarant%20ISUZU%20Service!5e0!3m2!1sen!2s!4v1713944260140!5m2!1sen!2s"
              width="600"
              height="350"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="address__card" id="samarqand">
          <div class="address__info">
            <h3 class="branch__name">Филиал Самарканд</h3>
            <h6>
              Адрес: Bunyodkor Avenue 57, Tashkent, Toshkent Shahri, Uzbekistan
            </h6>
            <p>Ориентир: Ресторан Ок Тулпор</p>
            <p>
              Тел: <span class="bold">+998 33 147 0770 </span
              ><br /><br />Рабочие дни:
              <span class="bold">Понедельник - Суббота</span> <br />
              Время работы: <span class="bold">09:00 - 18:00</span>
            </p>
          </div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d6141.2235302674235!2d67.004872!3d39.680947!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMznCsDQwJzUxLjQiTiA2N8KwMDAnMTcuNSJF!5e0!3m2!1sen!2s!4v1713506554398!5m2!1sen!2s"
              width="600"
              height="350"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="address__card" id="jizzax">
          <div class="address__info">
            <h3 class="branch__name">Филиал Джиззах</h3>
            <h6>
              Адрес: Bunyodkor Avenue 57, Tashkent, Toshkent Shahri, Uzbekistan
            </h6>
            <p>Ориентир: Ресторан Ок Тулпор</p>
            <p>
              Тел: <span class="bold">+998 33 147 0770 </span
              ><br /><br />Рабочие дни:
              <span class="bold">Понедельник - Суббота</span> <br />
              Время работы: <span class="bold">09:00 - 18:00</span>
            </p>
          </div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d6141.2235302674235!2d67.004872!3d39.680947!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMznCsDQwJzUxLjQiTiA2N8KwMDAnMTcuNSJF!5e0!3m2!1sen!2s!4v1713506554398!5m2!1sen!2s"
              width="600"
              height="350"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="address__card" id="qoqon">
          <div class="address__info">
            <h3 class="branch__name">Филиал Коканд</h3>
            <h6>
              Адрес: Bunyodkor Avenue 57, Tashkent, Toshkent Shahri, Uzbekistan
            </h6>
            <p>Ориентир: Ресторан Ок Тулпор</p>
            <p>
              Тел: <span class="bold">+998 33 147 0770 </span
              ><br /><br />Рабочие дни:
              <span class="bold">Понедельник - Суббота</span> <br />
              Время работы: <span class="bold">09:00 - 18:00</span>
            </p>
          </div>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d6141.2235302674235!2d67.004872!3d39.680947!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMznCsDQwJzUxLjQiTiA2N8KwMDAnMTcuNSJF!5e0!3m2!1sen!2s!4v1713506554398!5m2!1sen!2s"
              width="600"
              height="350"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="footer__box">
          <div class="footer__line">
            <h4 class="footer__title">Menu</h4>
            <ul class="footer__list">
              <li><a href="" class="footer__link">CATALOG</a></li>
              <li><a href="" class="footer__link">PARTS</a></li>
              <li><a href="" class="footer__link">SERVICE</a></li>
              <li><a href="" class="footer__link">CONTACTS</a></li>
            </ul>
          </div>
          <div class="footer__line">
            <h4 class="footer__title">Наши филиалы</h4>
            <ul class="footer__list">
              <li><a href="" class="footer__link">Ташкент</a></li>
              <li><a href="" class="footer__link">Самарканд</a></li>
              <li><a href="" class="footer__link">Джиззах</a></li>
              <li><a href="" class="footer__link">Коканд</a></li>
            </ul>
          </div>
          <div class="footer__line">
            <h4 class="footer__title">Контакты</h4>
            <ul class="footer__list">
              <li>
                <a class="footer__link" href="tel:+998338470770"
                  ><i class="fa-solid fa-phone-volume" style="color: #ffffff">
                  </i>
                  +998 33 847 0770</a
                >
              </li>
              <li>
                <a class="footer__link" href="tel:+998339970770"
                  ><i class="fa-solid fa-phone-volume" style="color: #ffffff">
                  </i>
                  +998 33 997 0770</a
                >
              </li>
              <li>
                <a class="footer__link" href="tel:+998908162223"
                  ><i class="fa-solid fa-phone-volume" style="color: #ffffff">
                  </i>
                  +998 90 816 2223</a
                >
              </li>
            </ul>
          </div>
          <div class="footer__line">
            <h4 class="footer__title">Мы в социальные сети</h4>
            <ul class="footer__list">
              <li>
                <a
                  href="https://t.me/IsuzuGarantAgromash"
                  target="_blank"
                  class="footer__link"
                  ><i
                    class="fa-xl fa-brands fa-telegram"
                    style="color: #74c0fc"
                  ></i>
                  Telegram</a
                >
              </li>
              <li>
                <a href="" class="footer__link"
                  ><i class="fa-xl fa-brands fa-instagram"></i> Instagram</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
